<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Descripteur</string>
	<key>behavior</key>
	<string>Comportement</string>
	<key>comment</key>
	<string>Description</string>
	<key>dimorphism</key>
	<string>Dimorphisme</string>
	<key>family</key>
	<string>Famille</string>
	<key>lifeDuration</key>
	<string>EsperanceVie</string>
	<key>lifeZone</key>
	<string>ZoneDeVie</string>
	<key>origin</key>
	<string>Origine</string>
	<key>reproduction</key>
	<string>Reproduction</string>
	<key>scientificName</key>
	<string>NomScientifique</string>
</dict>
</plist>
