<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>is equal</string>
		<key>content</key>
		<string>=</string>
	</dict>
	<dict>
		<key>label</key>
		<string>is less</string>
		<key>content</key>
		<string>&lt;</string>
	</dict>
	<dict>
		<key>label</key>
		<string>is greater</string>
		<key>content</key>
		<string>&gt;</string>
	</dict>
	<dict>
		<key>label</key>
		<string>contains</string>
		<key>content</key>
		<string>contains</string>
	</dict>
</array>
</plist>
