<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>origin</key>
	<string>Origine</string>
	<key>reproduction</key>
	<string>Reproduction</string>
	<key>substract</key>
	<string>Substrat</string>
	<key>growingSpeed</key>
	<string>Croissance</string>
	<key>light</key>
	<string>Eclairage</string>
	<key>placement</key>
	<string>Emplacement</string>
	<key>scientificName</key>
	<string>NomScientifique</string>
</dict>
</plist>
